<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao_xiao_zi.intelligentchatbuddy.mapper.ChatMessageMapper">

    <resultMap id="BaseResultMap" type="com.hao_xiao_zi.intelligentchatbuddy.model.ChatMessage">
            <id property="id" column="id" />
            <result property="conversation_id" column="conversation_id" />
            <result property="message_type" column="message_type" />
            <result property="content" column="content" />
            <result property="metadata" column="metadata" />
            <result property="create_time" column="create_time" />
            <result property="update_time" column="update_time" />
            <result property="is_delete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,conversation_id,message_type,content,metadata,create_time,
        update_time,is_delete
    </sql>
</mapper>
